@model InventoryWebApp.Models.Restock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasePricePerUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePricePerUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalInvestment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalInvestment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestockDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestockDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RestockId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
