@model IEnumerable<InventoryWebApp.Models.Restock>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasePricePerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalInvestment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestockDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchasePricePerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalInvestment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestockDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RestockId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RestockId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RestockId })
        </td>
    </tr>
}

</table>
