@model IEnumerable<InventoryWebApp.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasePricePerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalInvestmentPerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvestmentProgress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchasePricePerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalInvestmentPerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfSales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvestmentProgress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Make Sale", "Create", "Sales", new { id = item.ProductId }, null) |
            @Html.ActionLink("Restock", "Create", "Restocks", new { id = item.ProductId }, null) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>

}

</table>
@foreach (var item in Model)
{
    <div class="panel-group">
        <div class="panel panel-success" style="background-color:#276733">
            <h3 style="text-align:center; color:white;">
                @Html.DisplayFor(modelItem => item.ProductName)
            </h3>
        </div>
        <div class="panel-body" style="background-color:#B1D3A4; color:white;">
            <div class="col-md-10">

                <div class="row">
                    <div class="col-md-4">
                        <h4 style="color:#DFF7CA">Quantity</h4>
                    </div>
                    <div class="col-md-4">
                        <h4 style="color:#DFF7CA">Number Of Sales</h4>
                    </div>
                    <div class="col-md-4">
                        <h4 style="color:#DFF7CA">Progress Percentage</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">@Html.DisplayFor(modelItem => item.Quantity)</div>
                    <div class="col-md-4">@Html.DisplayFor(modelItem => item.NumberOfSales)</div>
                    <div class="col-md-4"></div>
                </div><br /><br />

                <div class="row">
                    <div class="col-md-4">Purchase Price Per Unit</div>
                    <div class="col-md-4">Sale Price Per Unit</div>
                    <div class="col-md-4">Total Product Investment</div>
                </div>

                <div class="row">
                    <div class="col-md-4">@Html.DisplayFor(modelItem => item.PurchasePricePerUnit)</div>
                    <div class="col-md-4">@Html.DisplayFor(modelItem => item.SalePrice)</div>
                    <div class="col-md-4">@Html.DisplayFor(modelItem => item.TotalInvestmentPerUnit)</div>
                </div>
            </div><br /><br />

            <div class="col-md-2">
                <div class="row">@Html.ActionLink("Make Sale", "Create", "Sales", new { id = item.ProductId }, null)</div>
                <br />
                <div class="row">@Html.ActionLink("Restock", "Create", "Restocks", new { id = item.ProductId }, null)</div>
                <br />
                <div class="row">@Html.ActionLink("Delete", "Delete", new { id = item.ProductId })</div>
                <br /><br />
             </div>
        </div>
    </div>
    <br />
    <br />

}
